<!DOCTYPE html>
<html lang="pt-br" data-color-theme="auto">

<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/icone.png">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="fonts/inter/inter.css">
    <link rel="stylesheet" href="icons/phosphor/styles.min.css">
    <link rel="stylesheet" href="TerceiroSetor.WebApp.styles.css" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>
