<div class="navbar-brand flex-1">
    <NavLink href="/" class="d-inline-flex align-items-center">
        <img src="images/terceiro-setor.png" alt="Terceiro Setor" class="h-40px">
        <img src="images/terceiro-setor-texto.png" class="d-none d-sm-inline-block invert-dark h-40px" />
    </NavLink>
</div>

