@using Blazored.Modal
@inherits LayoutComponentBase
<CascadingBlazoredModal>
    <Navbar />
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content-inner">
                <div class="content container pt-2">
                    @Body
                </div>
            </div>
        </div>
    </div>
</CascadingBlazoredModal>