
<div class="nav-item nav-item-dropdown-xl dropdown">
    <NavLink href="/profile" class="navbar-nav-link align-items-center rounded-pill p-1">
        <div class="status-indicator-container">
            <img src="@UrlImagem" class="w-32px h-32px rounded-pill" alt="">
            <span class="status-indicator bg-success"></span>
        </div>
        <span class="d-none d-md-inline-block mx-md-2">@NomeApresentacao</span>
    </NavLink>
</div>


@code {
    public string UrlImagem { get; set; } = string.Empty;
    public string NomeApresentacao { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        UrlImagem = "images/user-placeholder.jpg";
        NomeApresentacao = "Administrador";
    }
}
