@using Blazored.Modal
@using Blazored.Modal.Services
<div class="mt-0">
    <div class="d-flex justify-content-center">
        <i class="ph-warning-circle  ph-5x text-warning"></i>
    </div>
    
    <h2 class="d-flex justify-content-center mt-2">Essa ação não poderá ser revertida!</h2>

    <div class="d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-primary me-2" @onclick="OnConfirm">Sim pode excluir!</button>
        <button type="button" class="btn btn-light" @onclick="OnCancel">Cancelar</button>
    </div>
</div>

@code {

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task OnConfirm() => await BlazoredModal.CloseAsync(ModalResult.Ok());
    private async Task OnCancel() => await BlazoredModal.CancelAsync();

}
