<div class="col-@TamanhoColuna mb-3">
    <label class="form-label fw-semibold">@Label:</label>
    @ChildContent
</div>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public int TamanhoColuna { get; set; } = 12;
}
